/*
Author: DMITRIEFFSERZH
E-mail: dmitrieffserzh@ya.ru
 */
@import "compass";
/* BOOTSTRAP GRID
========================================================================================================================
 */
@import "css/grid.css";

body {
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  color: #363840;
}

.header {
  @include box-shadow(0 5px 10px rgba(0, 0, 0, .05));
  &-logotype {
    display: block;
  }
  &-tagline {
    color: #A0A3AF;
    font-size: .7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.block-contacts {
  &__item {
    display: inline-block;
    float: left;
    margin: 0 0 0 1rem;
    color: #000;
    font-size: .9rem;
    font-weight: 600;
    line-height: 2.2;
    &--btn {
      padding: 0 1rem 0 0;
      background-color: #C90021;
      @include border-radius(.25rem);
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-size: .75rem;
      line-height: 2.7;
      @include transition(all .15s Linear);
      &:hover {
        background-color: #f00021;
      }
      & .icon {
        background-color: transparent;
      }
    }
  }
}

.icon {
  display: inline-block;
  margin: 0 .5rem 0 0;
  float: left;
  width: 32px;
  height: 32px;
  background-color: #C90021;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  @include border-radius(.25rem);
  &--mail {
    background-image: url("img/icons/mail.svg");
  }
  &--call {
    background-image: url("img/icons/phone-call.svg");
  }
  &--call-in {
    background-image: url("img/icons/phone-incoming.svg");
  }
  &--map-pin {
    background-image: url("img/icons/map-pin.svg");
  }
}

/* MAIN MENU
========================================================================================================================
 */
.main {
  &-menu {
    border-top: 1px Solid #edeff5;
    &__list {
      display: table;
      padding: 0;
      margin: 0;
      width: 100%;
      list-style: none;
    }
    &__item {
      display: table-cell;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: -1px;
        left: 50%;
        height: 1px;
        width: 0;
        background: #C90021;
        @include transition(all .15s Linear);
      }
      &:after {
        content: '';
        position: absolute;
        top: calc(50% - 8px);
        right: 0;
        height: 16px;
        width: 1px;
        background: #edeff5;
      }
      &:last-child:after {
        display: none;
      }
      &:hover:before {
        left: 0;
        width: 100%;
      }
      &:hover .main-menu__link {
        color: #C90021;
      }
      &:hover .main-submenu__list {
        top: 100%;
        visibility: visible;
        opacity: 1;
      }
      &--active .main-menu__link {
        color: #C90021;
      }
      &--active:before {
        left: 0;
        width: 100%;
      }
    }
    &__link {
      display: block;
      padding: .75rem 0;
      min-width: 150px;
      color: #000;
      font-size: .9rem;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      text-align: center;
      @include transition(all .15s Linear);
      &--active {
        color: #C90021;
      }
    }
  }
  /* SUBMENU */
  &-submenu {
    &__list {
      display: block;
      position: absolute;
      top: 120%;
      left: 0;
      z-index: 10;
      background: #fff;
      padding: 1rem 0;
      min-width: 400px;
      list-style: none;
      visibility: hidden;
      opacity: 0;
      @include border-radius(0 0 .25rem .25rem);
      @include box-shadow(0 1rem 1rem 0 rgba(98, 106, 121, 0.25));
      @include transition(all .15s Linear);
    }
    &__item {
      border-bottom: 1px Solid #f5f5f8;
      @include transition(all .15s Linear);
      &:last-child {
        border: none;
      }
      &:hover {
        background: #f5f7f8;
      }
      &:hover .main-submenu__link {
        color: #C90021;
      }
    }
    &__link {
      display: block;
      padding: 0 1rem;
      font-size: .8rem;
      color: #7b8288;
      font-weight: 500;
      text-decoration: none;
      line-height: 2rem;
      @include transition(all 0.15s Linear);
    }
  }
}

































.main {
  min-height: 69.8vh;
}

/* MAIN SLIDER
========================================================================================================================
 */
.main-slider {
  min-height: 500px;
  background-image: linear-gradient(to bottom right, rgba(46, 68, 140, 0.6), rgba(18, 37, 97, 0.6)), url("img/main_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* FOOTER
========================================================================================================================
 */
.footer {
  margin: 3rem 0 0;
  background: #E8F2F6;
  &-copyright {
    border-top: 1px Solid #c7d5da;
    line-height: 4rem;
    font-weight: 600;
    font-size: .8rem;
    color: #9da6ab;
    text-align: center;
    @include transition(all .15s Linear);
    &:hover {
      color: #000;
    }
  }
}

/* FOOTER MENU
========================================================================================================================
 */
.footer-menu {
  background: #D7DDEB;
  border-bottom: 1px Solid #fff;
  &__list {
    display: table;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
  }
  &__item {
    display: table-cell;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 8px);
      right: 0;
      height: 16px;
      width: 1px;
      background: #aeafb9;
    }
    &:hover .footer-menu__link {
      color: #C90021;
    }
    &:last-child:after {
      display: none;
    }
  }
  &__link {
    display: block;
    padding: .75rem 0;
    color: #585b71;
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    min-width: 150px;
    @include transition(all .15s Linear);
    &--active {
      color: #C90021;
    }
  }
}

.btn {
  border: none;
  background: #C90021;
  color: #fff;
  font-size: .8rem;
  text-transform: uppercase;
  @include border-radius(1rem);
}

/* SECTIONS
========================================================================================================================
 */
.section {
  padding: 5rem 0;
  &__title {
    position: relative;
    padding: 0 0 0 1.5rem;
    margin: 0 0 3rem;
    font-size: 1.7rem;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      height: 27px;
      width: 10px;
      background: #C90021;
    }
  }
  &--products {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("img/main_1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

/* ADVANTAGES
========================================================================================================================
 */
.advantages {
  &__title {
    font-size: .9rem;
    text-transform: uppercase;
  }
  &__text {
    color: #656565;
  }
}

.product {
  background: #fff;
  height: 300px;
  @include box-shadow(0 10px 30px rgba(0, 0, 0, .05));
  @include border-radius(.5rem);
  @include transition(all .15s Linear);
  overflow: hidden;
  &:hover {
    @include box-shadow(0 10px 50px rgba(0, 0, 0, .15));
  }
  & img {
    margin: 3rem 0 0 0;
    width: 100%;
  }
}

.product2 {
  background: #fff;
  height: 250px;
  margin: 0 0 2rem;
  @include box-shadow(0 0 5px rgba(0, 0, 0, .05));
  @include border-radius(.5rem);
  @include transition(all .15s Linear);
  &:hover {
    @include box-shadow(0 10px 50px rgba(0, 0, 0, .05));
  }
}




/* LAST NEWS
========================================================================================================================
 */
.last-news {
  &__block {
    position: relative;
    padding: .5rem 0 0 1.5rem;
    margin: 0 0 3rem;
    overflow: hidden;
  }
  &__date {
    position: relative;
    top: 0;
    left: 0;
    font-size: .8rem;
    font-weight: 600;
    color: #7C8BA2;
    text-transform: uppercase;
    & span {
      color: #F85A5A;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -1.5rem;
      width: 1rem;
      height: 1px;
      background: #D6D6D6;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: -1.5rem;
      width: 1px;
      height: 100vh;
      background: #D6D6D6;
    }
  }
  &__title a {
    font-size: 1rem;
    font-weight: 600;
    color: #212121;
    text-decoration: none;
    @include transition(all .15s Linear);
    &:hover {
      color: #c90021;
    }
  }
  &__text {
    font-size: .9rem;
    color: #96979B;
  }
}



/* UTILS
========================================================================================================================
 */
.border {
  &-top {
    border-left: 1px Solid rgba(0, 0, 0, 0.15);
  }
  &-right {
    border-left: 1px Solid rgba(0, 0, 0, 0.15);
  }
  &-bottom {
    border-left: 1px Solid rgba(0, 0, 0, 0.15);
  }
  &-left {
    border-left: 1px Solid rgba(0, 0, 0, 0.15);
  }
}